<div id="dPrimary" class="container-fluid">
  <h1 style="text-align:center; font-family:castellar;">Fill in your details....</h1>
  <br>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    
    <div id="d01" class="card text-white bg-dark mb-3" style="width: 18rem; margin:auto">
    <div class="form-group">
      <label>Name</label>
      <input type="text" required
      #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="userName" [(ngModel)]="userModel.name">
      <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>
    </div>

    <!--<div ngModelGroup="address">
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>

      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>

      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
      </div>

      </div>-->

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" required #mail="ngModel" [class.is-invalid]="mail.invalid && mail.touched" name="userMail" [(ngModel)]="userModel.email">
      <small [class.d-none]="mail.valid || mail.untouched" class="text-danger">Email is required</small>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="userPhone" [(ngModel)]="userModel.phone">
      <!--<small [class.d-none]="phone.valid || phone.untouched" class="text-danger">Number should be 10 digits</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone Number is required</small>

        <small class="text-danger" *ngIf="phone.errors.pattern">Phone Number must be of 10 digits</small>
      </div>
    </div>
  <br>
    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"  #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" class="custom-select" name="userTopic" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{  topic  }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please select a topic</small>
    </div>

    <div class="mb-3">
      <label>Shift Preference</label>
      <div class="form-check">
      <input type="form-check-input" type="radio" name="timePreference" value="morning"
      [(ngModel)]="userModel.timePreference">
      <label class="form-check-label">Morning (9AM - 6PM)</label>
    </div>

    <div class="form-check">
      <input type="form-check-input" type="radio" name="timePreference" value="evening"
      [(ngModel)]="userModel.timePreference">
      <label class="form-check-label">Evening (5PM - 2AM)</label>
    </div>
    </div>

    <!--<div class="form-check mb-3">
      <input type="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">Send me Promotional Offers</label>
    </div>-->
    <button class="btn btn-primary" type="submit" [disabled]="userForm.form.invalid || topicHasError">Submit form</button>
  </div>
  </form>
</div>
