p {
  font-family: Lato;
}
h1{
  border-style:groove;
  border-width: 4px;
  padding-bottom: 10px;
  border-color: purple;
  }

  @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
  }


#d01{  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromLeft;
  opacity:0.75;

}


